<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.ironjan.arionav_fw.framework">
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Indicates that the app requires ARCore ("AR Required"). Ensures the app is
         visible only in the Google Play Store on devices that support ARCore.
    -->
    <uses-feature android:name="android.hardware.camera.ar" />

    <!-- Sceneform requires OpenGL ES 3.0 or later. -->
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />


</manifest>
